html {
    font-family: opensans;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0 16px;
    max-width: 900px;
    color: #323232;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    padding: 16px;
    color: #323232;
}

nav ul a {
    text-decoration: none;
}

#content-abtme {
    display: flex;
}

#content-abtme img {
    width: 210px;
    height: auto;
    border-radius: 25px;
}

details {
    display: block;
}

summary {
    display: list-item;
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

.projects h3 {
    margin: 0;
    display: inline;
}

.projects img {
    max-width: 50%;
}
#contact {
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    padding: 12px 0;
    margin-top: auto;
}
